{% extends "base.html" %}
{% block content %}
    <p>
        <div style="max-width:800px">
            Steamroller takes the pressure of picking games off you. It automatically searches through your steam library for games with no gametime, but you can tailor your list of games by manually adding or removing entries. This is how it looks:
        </div>
        </br>
        <!--
        <div class="screenshot">
        -->
        <div style="border=10px; border-style: solid; width=0px; border-radius: 5px; display: inline-block; overflow: hidden; width: 75%">
            <img src="{{ url_for('static', filename='img/Screenshot.png') }}" style="width: 100%">
        </div>

    </p>
{% endblock %}
