<html>
    <head>
        {% if my_page %}
            <title>Steamroller - {{ my_page.title }}</title>
        {% else %}
            <title>Steamroller</title>
        {% endif %}
        <link href="{{ url_for('static', filename='css/layout.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body>

            <nav class="sr-sidebar sr-bar-block sr-collapse sr-animate-left sr-card-2" style="z-index:3;width:180px;" id="mySidebar">
                <a class="sr-bar-item sr-button{% if my_page.location == 'about' %} sr-dark-grey{% endif %}" href="/index">About</a>
                {% if user %}
                    <a class="sr-bar-item sr-button{% if my_page.location == 'all' %} sr-dark-grey{% endif %}" href="/all">All my games</a>
                    <a class="sr-bar-item sr-button{% if my_page.location == 'new' %} sr-dark-grey{% endif %}" href="/new">My new games</a>
                    <a class="sr-bar-item sr-button{% if my_page.location == 'pick' %} sr-dark-grey{% endif %}" href="/pick">Pick game</a>
                {% endif %}
            </nav>
            <div class="sr-main" style="margin-left:180px;position:relative;min-height: 100%">
                <header class="sr-container" style="padding: 0px; background-color:#4d4d4d; text-align:right;">
                {% if user %}
                    <div class="dropdown">
                        <button class="dropdown_button">
                            <table style="color: inherit; vertical-align: middle">
                                <tr>
                                    <td>
                                        <b>{{ user.nickname }}<b>
                                    </td>
                                    <td>
                                        <img src="{{ user.avatar_url }}" style="border: solid 2px #4183d7;border-radius: 8px; margin-left: 5px; " >
                                    </td>
                                </tr>
                            </table>
                        </button>
                      <div class="dropdown-content">
                        <a href="/logout"><b>Logout</b></a>
                      </div>
                    </div>
                {% else %}
                    <a href="/login">
                        <img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png" style="padding: 15px" >
                    </a>
                {% endif %}
                </header>

                <div class="sr-container sr-padding-32" style="padding-left:32px;">

                    {% if my_page %}
                        <h2>{{ my_page.title }}</h2>
                    {% else %}
                        <h2>Steamroller</h2>
                    {% endif %}
                    <hr>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                    <div class="alert{% if category == 'red' %} alert_red{% elif category == 'green' %} alert_green{% else %} alert_blue{% endif %}">
                                        {{ message }}
                                        <div style="float: right; width 10px; padding: 0;">
                                            <span id="close" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;" style="padding-left: 10px; font-weight: normal; cursor: pointer">&#10006;</span>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
                </br>
                </div>
            <footer class="sr-container my_footer">
                <div style="float: left;">
                    <p>
                        <strong>Steamroller!</strong> - Powered by <a href="http://store.steampowered.com/" rel="noopener noreferrer" target="_blank">
                            <img src="http://store.edgecast.steamstatic.com/public/shared/images/header/globalheader_logo.png" height=20 style="padding-left: 8">
                        </a>
                    </p>
                </div>
                <div style="float: right;">
                    <p>
                        <a href="https://github.com/Sarmacid/steamroller" rel="noopener noreferrer" target="_blank">
                            <img src="{{ url_for('static', filename='img/GitHub.png') }}" width="80%" height="80%">
                        </a>
                    </p>
                </div>
            </footer>
            </div>

    </body>
</html>
