{% extends "base.html" %}
{% block content %}
    <div id="pagination" style="text-align: center; margin: 0 auto; padding-bottom: 10px;">
        <div style="padding: 15">
            Page {{ pagination.section }} of {{ pagination.section_count }}, {{ pagination.game_count }} total games.
        </div>
        {% if pagination.section > 1 %}
            <a href="/all/1" title="First page" class="pagination_links my_w3-btn"><<</a>
            <a href="/all/{{ pagination.section - 1 }}" title="Previous page" class="pagination_links my_w3-btn" ><</a>
        {% else %}
            <a href="#" title="First page" class="pagination_links my_w3-btn" ><<</a>
            <a href="#" title="Previous page" class="pagination_links my_w3-btn" ><</a>
        {% endif %}
        {% for link in pagination.links %}
            <a href="/all/{{ link }}" title="Page {{ link }}" class="pagination_links my_w3-btn">{{ link }}</a>
        {% endfor %}
        {% if pagination.section < pagination.section_count %}
            <a href="/all/{{ pagination.section + 1 }}" title="Next page" class="pagination_links my_w3-btn">></a>
            <a href="/all/{{ pagination.section_count }}" title="Last page" class="pagination_links my_w3-btn">>></a>
        {% else %}
            <a href="#" title="Previous page" class="pagination_links my_w3-btn" >></a>
            <a href="#" title="Last page" class="pagination_links my_w3-btn" >>></a>
        {% endif %}
    </div>
    {% for game in pagination.games %}
            <div id="middle"><p>
                <form action = "/change_game_preference" method = "post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {% if game.is_new %}
                        {% set class = 'new_game' %}
                        {% set type = 'New game' %}
                        {% set operation = 'Remove' %}
                    {% else %}
                        {% set class = 'played_game' %}
                        {% set type = 'Played game' %}
                        {% set operation = 'Add' %}
                    {% endif %}

                    <div class="{{ class }}">
                        {% if game.img_logo_url != "" %}
                            <div style="float: left; height: 100%; border-right: inherit;">
                                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_logo_url}}.jpg" style="max-height: 100%;">
                            </div>
                        {% endif %}
                        <div style="float: left; height: 100%; text-align: center; padding:10px;">
                            {{ game.name }}
                        </div>

                        <div style="float: right; height: 100%; border-left: inherit">
                            <input type="text" name="game_id" value="{{ game.id }}" readonly hidden=True/>
                            <input type="text" name="game_name" value="{{ game.name }}" readonly hidden=True/>
                            <input type="submit" class="my_w3-btn" name="operation" value="{{ operation }}" style="height: 100%; width: 120px;" />
                        </div>
                        <div style="float: right; height: 100%; border-left: inherit; text-align: center; padding:10px; width: 120px;">
                            {{ type }}
                        </div>
                        {% if game.is_early_access %}
                            <div style="float: right; height: 100%; border-left: inherit; text-align: center; padding:10px; color: #f89406">
                                <strong>Early Access</strong>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </p></div>
    {% endfor %}
{% endblock %}
