<html>
    <head>
        <title>{{ title }} - Steamroller</title>
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="all">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </head>
    <body>
        <h1>Hello, {{ user.steam_id }}!</h1>
        {% for game in games %}
        <div id="middle"><p>{{ game.name }} - {{ game.appid }}</p></div>
        {% endfor %}
        <form action="/logout">
        <input type="submit" formaction="/login" class="button" value="Login">
        </br>
        <input type="submit" formaction="/logout" class="button" value="Logout">
        </form>
    </body>
</html>