{% extends "base.html" %}
{% block content %}
    <p>
        The following game was picked out of a total of {{ count }} games:
        </br>
        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_logo_url}}.jpg">
        </br>
        {{ game.appid }} - {{ game.name }}
        </br>
        {% if game.PCGW_url %}
            <a href="{{ game.PCGW_url }}">PCGamingWiki</a>
            </br>
        {% endif %}
        {% if game.is_early_access %}
            WARNING!!! Game is in early acess!!!
            </br>
        {% endif %}
        </br>
        <input type="button" class="my_w3-btn w3-padding-12" value="Reroll!" onClick="window.location.reload()">
        </br>
        {% if debug %}
        {{ game }}
        {% endif %}
    </p>
{% endblock %}
