/* Based on W3.CSS 3.01 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
footer,header,nav{display:block}[hidden]{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:link {
    color: #67809F;
    text-decoration: none;
}
a:visited {
    color: #aaa789;
}
a:active,a:hover{outline-width:0;color:#91a4ba}
img{border-style:none}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input{font:inherit;margin:0}
button,input{overflow:visible}button{text-transform:none}
button,html [type=button],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5;height:100%;background-color:#000000;}html{overflow-x:hidden}
h2,h3,h4{font-family:"Segoe UI",Arial,sans-serif}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}
h2,h3,h4{font-weight:400;margin:10px 0}
hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(204, 204, 204, 0.4), rgba(204, 204, 204, 0.1), rgba(204, 204, 204, 0)); }
img{margin-bottom:-5px}a{color:inherit}
.sr-button{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.my_sr-btn {
    background-color: #616161;
    border:none;
    display:inline-block;
    outline:0;
    padding:6px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none!important;
    color:#fff;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.my_sr-btn:hover{
    background-color: #4d4d4d;
}
.sr-button{color:#000;background-color:#f1f1f1;padding:8px 16px}.sr-button:hover{color:#4d4d4d!important;background-color:#ccc!important}
.sr-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.sr-button:disabled{cursor:not-allowed;opacity:0.3}
.sr-sidebar{height:100%;width:200px;background-color:#4d4d4d;color:#ccc;position:fixed!important;z-index:1;overflow:auto}
.sr-main{
    transition:margin-left .4s;
    background-color: #333333;
    color: #aaa;
}
.game_pick{
    background-color: #222222;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    text-align:center;
}
.my_footer{
    margin-top: 64;
    adding-top: 0px;
    padding-left:32px;
    background-color:#000000;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
.dropdown_button{
    background-color: #5d5d5d;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d4d4d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown_button {
    background-color: #ccc;
    color: #4A4A4A;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.new_game {
    height: 50px;
    background-color: #16270f;
    border: solid #3e6e2b;
    color: #89C38A;
    max-width: 80%;
    margin: 0 auto;
}
.played_game {
    height: 50px;
    background-color: #371616;
    border: solid #6d2c2c;
    color: #e3b6b6;
    max-width: 80%;
    margin: 0 auto;
}
.pagination_links{
    border: solid;
    display: inline-block;
    width: 80px;
    appearance: button;
    font-weight: bold;
}
a.pagination_links{
    color: inherit;
}
.alert {
    font-weight: bold;
    width: 60%;
    border-radius: 1em;
    padding: .75em 1em;
}
.alert_red {
    background-color: #371616;
    border: solid #6d2c2c;
    color: #e3b6b6;
}
.alert_green {
    background-color: #16270f;
    border: solid #3e6e2b;
    color: #89C38A;
}
.alert_blue {
    background-color: #081C26;
    border: solid #1b5d7e;
    color: #96cde9;
}
.sr-bar-block .sr-bar-item{width:100%;display:block;padding:15px 16px;text-align:left;background-color:inherit;color:inherit;border:none;outline:none;white-space:normal}
.sr-container:after,.sr-container:before
{content:"";display:table;clear:both}
@media (min-width:993px){.sr-sidebar.sr-collapse{display:block!important}}
@media (max-width:992px){.sr-sidebar.sr-collapse{display:none}.sr-main{margin-left:0!important;margin-right:0!important}}
.sr-padding-12{padding-top:12px!important;padding-bottom:12px!important}
.sr-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.sr-container{padding:0.01em 16px}
.sr-card-2{box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}
.sr-animate-left{position:relative;-webkit-animation:animateleft 0.4s;animation:animateleft 0.4s}
@-webkit-keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
/* Colors */
.sr-dark-grey{color:#fff!important;background-color:#616161!important}
